<div class="footer">
<div class="footer_left"><a onfocus="this.blur();" href="#"  target="_blank">公司内网</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onfocus="this.blur();" href="http://mail.ugchina.com.cn"  target="_blank">内部邮箱</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onfocus="this.blur();" href="#"  target="_blank">网站地图</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onfocus="this.blur();" href="http://rashost.com/usa-vps"  target="_blank"> Hosted by RASHOST</a></div>
<div class="footer_right">Copyright 2011-2013 U&G Company 备案中</div>
</div>
<script type="text/javascript">
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'{IMG_PATH}msg_img/loading.gif');
	});
})
</script>
</body>
</html>