{template "content","header"}
<!--main-->

<!--主体开始-->
<div class="sy_content">
<div class="page_tit">{catpos($catid)}</div>
<div class="page_wrap">
<!--侧导航开始-->
<!--<div class="page_subnav">
<ul>
                     <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=9">公司简介</a></li>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=18">资源平台</a></li>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=19">合作伙伴</a></li>
               
                  

</ul>
</div>-->
<!--侧导航结束-->
<div class="page_right">
<div class="page_bread"><a href="{APP_PATH}" alt="">首页</a>-招商推荐</div>
    

    <div class="page_content">
    
    	<div class="page_leftcontent">
<!---->

<p>
  <script type="text/javascript">
function cominfo_selectTag(showContent,selfObj){
// 操作标签
var tag = document.getElementById("cominfo_tags").getElementsByTagName("li");
var taglength = tag.length;
for(i=0; i<taglength; i++){
tag[i].className = "";
}
selfObj.parentNode.className = "selectTag";
// 操作内容
for(i=0; j=document.getElementById("cominfo_tagContent"+i); i++){
j.style.display = "none";
}
document.getElementById(showContent).style.display = "block";


}
</script>
</p>
<!---->
        </div>
        
		<!--newsright-->
		{template "content","con_newsright"}
		<!--newsright-->
    </div>
</div>

</div>
</div>
<div class="sy_condi2"></div>
<!--主体结束-->
{template "content","footer"}