{template "content","header"}
<!--main-->

<!--主体开始-->
<div class="sy_content">
<div class="page_tit">{catpos($catid)}</div>
<div class="page_wrap">
<!--侧导航开始-->
<div class="page_subnav">
<ul>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=9">公司简介</a></li>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=18">资源平台</a></li>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=19">合作伙伴</a></li>
               
                  

</ul>
</div>
<!--侧导航结束-->
<div class="page_right">
<div class="page_bread"><a href="{APP_PATH}" alt="">首页</a>-关于我们</div>
    

    <div class="page_content">
    
    	<div class="page_leftcontent">
<!---->
<div id="cominfo_con">
<ul id="cominfo_tags">
  <li class="selectTag"><a onfocus="this.blur();" onclick="cominfo_selectTag(&#39;cominfo_tagContent0&#39;,this)" href="javascript:void(0)">公司简介</a> </li>
<!--   <li><a onfocus="this.blur();" onclick="cominfo_selectTag(&#39;cominfo_tagContent1&#39;,this)" href="javascript:void(0)">愿景与使命</a> </li>
  <li><a onfocus="this.blur();" onclick="cominfo_selectTag(&#39;cominfo_tagContent2&#39;,this)" href="javascript:void(0)">核心价值观</a> </li>
  <li><a onfocus="this.blur();" onclick="cominfo_selectTag(&#39;cominfo_tagContent3&#39;,this)" href="javascript:void(0)">行为准则</a> </li> -->
  </ul>
<div id="cominfo_tagContent">
<!---->
<div class="cominfo_tagContent selectTag" id="cominfo_tagContent0">
    <div class="cominfo_con">
    <p style="text-indent: 0em; color: #c92a26; font-weight: bold">
	<span class="scayt-misspell" data-scayt_word="联合金玉地产机构" data-scaytid="1">联合金玉地产机构</span></p>
<p style="text-indent: 0em; font-weight: bold">
	&mdash;&mdash;<span class="scayt-misspell" data-scayt_word="United Golden Jode C/M Co.,Ltd." data-scaytid="3">United Golden Jode C/M Co.,Ltd.</span></p>
<p>&nbsp;
	</p>
<p>
	<span class="scayt-misspell" data-scayt_word="联合金玉地产机构（United Golden Jode C/M Co.,Ltd.）是由韩国原杨建筑设计集团在成立的一家中韩合资地产运营咨询服务企业，公司成立于2005年。经过数年的发展，先后在韩国、北京、纽约、成都、石家庄成立分支机构和开展相关业务。" data-scaytid="5">&nbsp;&nbsp;&nbsp;&nbsp;联合金玉地产机构（United Golden Jode C/M Co.,Ltd.）是由韩国原杨建筑设计集团在成立的一家中韩合资地产运营咨询服务企业，公司成立于2005年。经过数年的发展，先后在韩国、北京、纽约、成都、石家庄成立分支机构和开展相关业务。</span></p>
<p>&nbsp;
	</p>

<p>
   &nbsp;&nbsp;&nbsp;&nbsp;公司在中国专注于商业地产前期调研及咨询、商业地产规划、商业建筑内，外部环境设计、招商咨询及代理服务、营销代理、整合推广、商业运营管理及咨询等为一体的专业房地产综合服务商。</p>
<p>&nbsp;
	</p>
<p>
	   &nbsp;&nbsp;&nbsp;&nbsp;公司成立以来，凭借中外专业团队的努力，倾心致力于在中国国内的商业地产及零售咨询、商业设计、商业地产招商、整合营销、商业运营管理领域推行国际先进理念，在短短几年间，服务网络遍及全国，已经完成了几十项大型商业项目的前期策划、商业规划、商业设计、商业地产招商营销、商业运营管理等工作，涉及城市商业的大型购物中心、百货店、特色商业街，专业市场和工业、旅游地产等多种类型的项目。</p>
    
    </div>
</div>
<!---->

<!--
<div class="cominfo_tagContent " id="cominfo_tagContent1">
    <div class="cominfo_con">
    <p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span class="scayt-misspell" data-scayt_word="愿景" data-scaytid="1">愿景</span></p>
<p style="font-weight: bold; text-indent: 0em">
	&mdash;&mdash;<span class="scayt-misspell" data-scayt_word="成为中国最佳不动产管理者" data-scaytid="3">成为中国最佳不动产管理者</span></p>
<p>
	<span class="scayt-misspell" data-scayt_word="聚合各行业专家打造持续学习进取的卓越团队；" data-scaytid="5">聚合各行业专家打造持续学习进取的卓越团队；</span></p>
<p>
	<span class="scayt-misspell" data-scayt_word="践行"全球视野-本地实践"的服务宗旨，真正帮助客户超越现状解决问题；" data-scaytid="7">践行&ldquo;全球视野-本地实践&rdquo;的服务宗旨，真正帮助客户超越现状解决问题；</span></p>
<p>
	<span class="scayt-misspell" data-scayt_word="成为与客户共同成长、共担责任、有远见的伟大企业；创建中国房地产服务领域里最令人尊重的品牌" data-scaytid="9">成为与客户共同成长、共担责任、有远见的伟大企业；创建中国房地产服务领域里最令人尊重的品牌</span></p>
<p>&nbsp;
	</p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span class="scayt-misspell" data-scayt_word="使命" data-scaytid="11">使命</span></p>
<p style="font-weight: bold; text-indent: 0em">
	&mdash;&mdash;<span class="scayt-misspell" data-scayt_word="打造中国商业地产服务领域里最令人尊重的品牌，与客户共同成长，携手为消费者创意无限生活" data-scaytid="13">打造中国商业地产服务领域里最令人尊重的品牌，与客户共同成长，携手为消费者创意无限生活</span></p>
<p>&nbsp;
	</p>
<p style="font-weight: bold">
	<span class="scayt-misspell" data-scayt_word="员工" data-scaytid="17">员工</span></p>
<p>
	&mdash;&mdash;<strong><span class="scayt-misspell" data-scayt_word="创造成功平台，成为最佳雇主" data-scaytid="15">创造成功平台，成为最佳雇主</span></strong></p>
<p>
	<span class="scayt-misspell" data-scayt_word="成为员工的伙伴，尊重员工，打造自由工作发挥特长的环境；提供持续的专业培训和良好福利，激发员工学习进取的热情；发展一支" data-scaytid="19">成为员工的伙伴，尊重员工，打造自由工作发挥特长的环境；提供持续的专业培训和良好福利，激发员工学习进取的热情；发展一支</span><span _fck_bookmark="1" style="display: none">&nbsp;</span><span class="scayt-misspell" data-scayt_word="极具吸引力并令彼此骄傲的核心团队，不仅让他们满怀自豪感地工作、提供专业服务，而且能够让员工拥有他们认可的体面生活与企业一起成功！" data-scaytid="21">极具吸引力并令彼此骄傲的核心团队，不仅让他们满怀自豪感地工作、提供专业服务，而且能够让员工拥有他们认可的体面生活与企业一起成功！</span></p>
<p style="font-weight: bold">&nbsp;
	</p>
<p style="font-weight: bold">
	<span class="scayt-misspell" data-scayt_word="客户" data-scaytid="23">客户</span></p>
<p>
	&mdash;&mdash;<strong>专业助力决策，远景成就价值</strong></p>
<p>
	成为客户的伙伴，用专业能力真正为客户解决问题；坚持客户导向，建立真诚务实的沟通和满足切实需求的全价值链服务模式；了解行业和本土市场，提供可操作的并具有前瞻性的解决方案，为客户创造价值，保护并留住我们的核心客户！</p>
<p>&nbsp;
	</p>
<p style="font-weight: bold">
	社会</p>
<p>
	&mdash;&mdash;<strong>做好企业公民，积极回馈社会&nbsp;</strong></p>
<p>
	成为一家尽其所能承担社会责任的企业！鉴于所处行业的特点，我们会专注于支持教育事业的发展，并寻找各种机会践行我们的承诺，提供力所能及的帮助；让企业的员工和客户为我们对社会事业、特别是教育事业所做的善举而引以为傲！</p>
<p>&nbsp;
	</p>
<p style="font-weight: bold">
	企业</p>
<p>
	&mdash;&mdash;<strong><strong>客户、产品、品牌，创可持续发展</strong></strong></p>
<p>
	作为一家有雄心壮志的企业，我们相信员工和客户的信任是最大的财富！员工团队的专业能力和积极诚恳的服务才是赢得客户信任的基础；我们将不遗余力的为员工提供系统的培训和良好的福利，创建一个具有核心竞争力的成功企业，成为名副其实的中国乃至世界范围内房地产服务领域最伟大的品牌！&nbsp;</p>
    
    </div>

</div>
-->

<!--
<div class="cominfo_tagContent" id="cominfo_tagContent2">
<div class="cominfo_con">
   <p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="自强不息" data-scaytid="1">自强不息</span></span></p>
<p>
	&mdash;&mdash;&ldquo;天行健，君子以自强不息&rdquo;：天（即自然）的运动<font face="宋体">，</font>刚强劲健，相应于此，君子处世，应像天一样，自我力求进步，刚毅坚卓，发愤图强，永不停息！ 其代表了联合金玉的一种信仰和追求：是我们对远景和使命的一种坚持，不管市场如何变化、对手如何看待，我们都会坚持自己的理念，我们也愿意有耐心和热情的去坚持。</p>
<p>&nbsp;
	</p>
<p>
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="这也是联合金玉的态度；应该成为做一切事情的指南；因为我们知道没有人的成功是命中注定的！人世沉浮如电光石火，盛衰起伏，变幻难测。如果你有天资" data-scaytid="3">这也是联合金玉的态度；应该成为做一切事情的指南；因为我们知道没有人的成功是命中注定的！人世沉浮如电光石火，盛衰起伏，变幻难测。如果你有<font face="宋体">天资</font></span><font face="宋体"><span _fck_bookmark="1" style="display: none">&nbsp;</span></font>，勤奋则使你如虎添翼；如果你没有<font face="宋体">天资</font>，勤奋将使你赢得一切。命运掌握在那些勤勤恳恳工作的人手中。推动世界前进的人并不是那些严格意义上的天才，而是那些智力平平而又非常勤奋、埋头苦干的人；不是那些天资卓越、才华四射的天才，而是那些不论在哪一个行业都勤勤恳恳、劳作不息的人们。天赋超常而没有毅力和恒心的人只会成为转瞬即逝的火花。许多意志坚强、持之以恒而智力平平乃至稍稍迟钝的人都会超过那些只有天赋而没有毅力的人。</span><span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">&nbsp;
	</p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="铁血骑士" data-scaytid="5">铁血骑士</span></span></p>
<p>
	&mdash;&mdash;<span _fck_bookmark="1" style="display: none">&nbsp;</span><span class="scayt-misspell" data-scayt_word="代表了联合金玉的工作风格：骑士是为崇高理想而战的人，我们因何而聚呢？想必绝不仅仅为一份工作，更是我们的激情所在，联合金玉的骑士们应该是勇于担当并敢于挑战现状的，把不可能变为可能，强调团队作战的能力；我们可以背靠背，因为我们相互信任；敢于承担并能够独立作战，战则必胜，赢得信任！" data-scaytid="7">代表<span style="font-family: 宋体">了联合金玉的工作风格：骑士是为崇高理想而战的人，我们因何而聚呢？想必绝不仅仅为一份工作<font face="宋体">，</font>更是我们的激情所在，联合金玉的骑士们应该是勇于担当并敢于挑战现状的，把不可能变为可能，强调团队作战的能力；我们可以背靠背，因为我们相互信任；敢于承担并能够独立作战，战则必胜，赢得信任！</span></span></p>
<p>
	<span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="海纳百川" data-scaytid="9">海纳百川</span></span></p>
<p>
	&mdash;&mdash;<span style="font-family: 宋体"><span _fck_bookmark="1" style="display: none">&nbsp;</span>代表<span _fck_bookmark="1" style="display: none">&nbsp;</span>了联合金玉人的胸怀：我们拥抱多元，持续学习进取！一起创造一个可以自由工作，发挥特长的场所，面对多样性，我们永远相互尊重，维护对方的尊严，并始终坚持彼此平等相待的标准，为每个人提供成功的机会。</span></p>
<p>
	<span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体">止于至善</span></p>
<p>
	&mdash;&mdash;<span style="font-family: 宋体">代表了联合金玉的服务境界：追求卓越的过程是不断在自我反省中不安于现状的愿望，也许我们的服务已经超出了客户的预期，但我们必须承认这并不意味着我们全力以赴的做到了最好，这不仅是公司也应该成为我们每个人的责任感，因为我们相信这是一个双赢的过程，<font face="宋体">只有</font><font face="宋体"><span _fck_bookmark="1" style="display: none">&nbsp;</span></font>这样才能使我们公司和我们自己经得起任何考验！</span></p>
    </div>
</div>
-->

<!--
<div class="cominfo_tagContent" id="cominfo_tagContent3">
<div class="cominfo_con">
   <p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="诚信" data-scaytid="1">诚信</span></span></p>
<p>
	<span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="诚信是人与人交往的根基，也是联合金玉企业文化的根基，维护彼此的信任是我们共同的责任" data-scaytid="3">诚信是人与人交往的根基，也是联合金玉企业文化的根基，维护彼此的信任是我们共同的责任</span></span></span></span></span></span></span></span></span></p>
<p>
	<span style="font-family: 宋体">&nbsp;&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="担当" data-scaytid="5">担当</span></span></p>
<p>
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="直面挑战，勇于担当是联合金玉人的基因，成非常之事，必有非常之担当，必成非常之人" data-scaytid="29">直面挑战，勇于担当是联合金玉人的基因，成非常<font face="宋体">之</font>事，必有非常之担当，必成非常之人</span></span></p>
<p>
	<span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="尊重" data-scaytid="9">尊重</span></span></p>
<p>
	<span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="尊重是一切关系的基础，包括人与人、人与自然界的一切" data-scaytid="13">尊重是一切关系的基础，包括人与人、人与自然界的一切</span></span></span></span></span></span></span></span></span></p>
<p>
	<span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="学习" data-scaytid="11">学习</span></span></p>
<p>
	<span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="学习是九洲人必须肩负的个人使命" data-scaytid="15">学习是联合金玉人必须肩负的个人使命</span></span></span></span></span></span></span></span></span></p>
<p>
	<span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="协作" data-scaytid="17">协作</span></span></p>
<p>
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="沟通协作是提升自己要做的第一件事" data-scaytid="19">沟通协作是提升自己要做的第一件事</span></span></p>
<p>
	<span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="积极" data-scaytid="21">积极</span></span></p>
<p>
	<span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="积极的态度就是竞争力，是你脱颖而出的砝码，只有乐观积极才能调动激情，开启智慧，更有机会享受乐趣" data-scaytid="23">积极的态度就是竞争力，是你脱颖而出的砝码，只有乐观积极才能调动激情，开启智慧，更有机会享受乐趣</span></span></span></span></span></p>
<p>
	<span style="font-family: 宋体">&nbsp;</span></p>
<p style="font-weight: bold; color: #c92a26; text-indent: 0em">
	<span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="卓越" data-scaytid="25">卓越</span></span></p>
<p>
	<span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span style="font-family: 宋体"><span class="scayt-misspell" data-scayt_word="卓越是不安于现状，也是赢得客户尊重乃至钦佩的唯一诀窍" data-scaytid="27">卓越是不安于现状，也是赢得客户尊重乃至钦佩的唯一诀窍</span></span></span></span></span></p>
    </div>
</div>
-->
</div></div>
<p>
  <script type="text/javascript">
function cominfo_selectTag(showContent,selfObj){
// 操作标签
var tag = document.getElementById("cominfo_tags").getElementsByTagName("li");
var taglength = tag.length;
for(i=0; i<taglength; i++){
tag[i].className = "";
}
selfObj.parentNode.className = "selectTag";
// 操作内容
for(i=0; j=document.getElementById("cominfo_tagContent"+i); i++){
j.style.display = "none";
}
document.getElementById(showContent).style.display = "block";


}
</script>
</p>
<!---->
        </div>
        
  <!--newsright-->
{template "content","con_newsright"}
<!--newsright-->
    </div>
</div>

</div>
</div>
<div class="sy_condi2"></div>
<!--主体结束-->
{template "content","footer"}