{template "content","header"}
<!--main-->

<!--主体开始-->
<div class="sy_content">
<div class="page_tit">{catpos($catid)}</div>
<div class="page_wrap">
<!--侧导航开始-->
<div class="page_subnav">
<ul>
<li><a href="/class.php?id=36">工作在联合金玉</a></li>
 
<li><a href="/class.php?id=37">职位空缺</a></li>
 

</ul>
</div>
<!--侧导航结束-->
<div class="page_right">
<div class="page_bread"><a href="/" alt="">首页</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href=/class.php?id=5 alt=诚聘英才/>诚聘英才</a></div>
    

    <div class="page_content">
    
    	<div class="page_leftcontent">
<div class="page_box">
	<div class="job_content">
		<p style="font-weight: bold">
			联合金玉在这些年做了什么？</p>
		<p>
			&nbsp;</p>
		<p>
    ● 中国商业联合会会员单位，购物中心专业委员会理事单位<br />

    ● 韩国先进商业地产理念、数十个韩国品牌商家中国首席代理。<br />

    ● 强大本土商业资源（10万余个各类优质投资客群资源、商家资源数万家）<br />

    ● 联合金玉（中国）各分部商业资源共享平台<br />

    ● 自身创建“联合金玉商业联盟”集商家、投资者资源<br />

    ● 多年积累的中国内地一线项目运作经验<br />

    ● 与国内外知名金融投资机构建立咨询合作关系<br />
			<br />
			... ...</p>
		<p>
			<br />
			是的，这一切是我们在过去所做到的。</p>
		<p>
			&nbsp;</p>
		<p style="text-indent: 2em">
			六年的时间，联合金玉已经从一家全新的公司成长为拥有100名员工、5间办公机构（韩国、纽约、四川、北京、石家庄）及销售额累计达千万元人民币的商业地产专业咨询公司。在今后的几年里，这些数字还将会进一步的快速增长......</p>
		<p>
			&nbsp;</p>
		<p style="text-indent: 2em">
			商业地产是地产与商业的结合体。中国经济的快速增长，居民整体消费水平的提高，政府对城市商业网点建设的推动，以及现代零售商业概念的涌现，共同促成了以购物中心为主的商业地产在中国的快速发展。联合金玉专注于这一新兴的产业，致力于为我们的客户提供从商业规划、招商、运营到金融服务的全价值链解决方案。</p>
		<p>
			&nbsp;</p>
		<p style="text-indent: 2em">
			联合金玉的核心团队来自国际著名咨询公司和业内实战精英，国际化的咨询方法论和本土的运营经验使我们能够为客户提供一流的的咨询服务。多年来，我们为自己取得的成就，为客户的认可、赞扬，为业界同仁的瞩目感到欣慰，我们更对公司未来的前景充满信心。新兴的行业，巨大的市场，给了我们足够的空间去成长和壮大。我们欢迎优秀人才的加入。在联合金玉，你将有机会学习如何将咨询行业缜密的逻辑思维与科学的方法论，同商业地产扎实的行业经验与推陈出新的创造性相结合；你将会在挑战与压力中成长。</p>
		<p>
			&nbsp;</p>
		<p style="font-weight: bold">
			希望你具备</p>
		<p style="text-indent: 1em">
			-良好的学历背景：持续的思考和再学习习惯，高的质量意识，擅长定义问题和解决问题</p>
		<p style="text-indent: 1em">
			-优秀的商业素质：对光怪陆离的外部世界持开放和接纳的心态，对时尚、品牌和商业社</p>
		<p style="text-indent: 1em">
			&nbsp;会有着浓郁的兴趣</p>
		<p style="text-indent: 1em">
			-合作与分享</p>
		<p>
			&nbsp;</p>
		<p>
			<a href="class.php?id=37">我们在把握成长的机会，你呢？</a></p>
	</div>
</div>
        </div>
   <!--newsright-->
{template "content","con_newsright"}
<!--newsright-->
    </div>
</div>

</div>
</div>
<div class="sy_condi2"></div>

<!--主体结束-->
{template "content","footer"}