{template "content","header"}
<!--main-->

<!--主体开始-->
<div class="sy_content">
<div class="page_tit">{catpos($catid)}</div>
<div class="page_wrap">
<!--侧导航开始-->
<div class="page_subnav">
<ul>
<li>联系我们</li>
 

</ul>
</div>
<!--侧导航结束-->
<div class="page_right">
<div class="page_bread"><a href="/" alt="">首页</a>&nbsp;&nbsp;-&nbsp;&nbsp;联系我们&nbsp;&nbsp;</div>
    

    <div class="page_content">
    
    	<div class="page_leftcontent">
<div class="page_box">
	<p class="contact_tit">
		<span class="scayt-misspell">Korea ：Wonyang Architects &Engineers Co.,ltd</span></p>
        <p><span class="scayt-misspell">Add：</span> woori  142 ,Samseong-dong Kangnam-gu Seoul</p>
	<p class="contact_con">
	<span class="scayt-misspell">tel</span>: <span style="color: #c92a26;font-family: arial;font-size:16px"><strong>011-9702-0301</strong></span></p>
        
        <p>&nbsp;
		</p>
	<p class="contact_tit">
		<span class="scayt-misspell" data-scayt_word="四川（西南区）" data-scaytid="23">四川（西南区）：四川联合金玉商业管理有限公司</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="地址" data-scaytid="13">地址</span>: <span class="scayt-misspell" data-scayt_word="四川省成都市锦江区锦东路668号新视界大厦2104室" data-scaytid="27"><span class="scayt-misspell" data-scayt_word="北京" data-scaytid="25">四川</span>省成都市锦江区锦东路668号新视界大厦2104室</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="邮箱" data-scaytid="17">邮箱</span>:ugchin@ugchina.com.cn<span _fck_bookmark="1" style="display: none">&nbsp;</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="电话" data-scaytid="28">电话</span>:<span style="color: #c92a26;font-family: arial;font-size:16px;font-weight:bold">86-028-86927268|86-028-86929018</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="传真" data-scaytid="32">传真</span>:86-028-86922976<span _fck_bookmark="1" style="display: none">&nbsp;</span></p>
	
	<p class="contact_con">&nbsp;
		</p>
	<p class="contact_tit">
		<span class="scayt-misspell" data-scayt_word="北京：（华北区）：" data-scaytid="7">北京（华北区）：北京联合金玉商业管理有限公司</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="地址" data-scaytid="9">地址</span>: <span class="scayt-misspell" data-scayt_word="北京市朝阳区东土城路12号院C座805室" data-scaytid="84">北京市朝阳区东土城路12号院C座805室</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="e-mail" data-scaytid="15">E-mai:</span>:ungcko@yahoo.co.kr</p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="电话" data-scaytid="19">电话</span>:<span style="color: #c92a26;font-family: arial;font-size:16px;font-weight:bold">86-010-64489182</span><span _fck_bookmark="1" style="display: none">&nbsp;</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="传真" data-scaytid="21">传真</span>: 86-010-64489183<span _fck_bookmark="1" style="display: none">&nbsp;</span></p>
	<p>&nbsp;
		</p>
	<p class="contact_tit">
		<span class="scayt-misspell" data-scayt_word="石家庄东北区" data-scaytid="38">石家庄（东北区）：石家庄联合金玉商业管理有限公司</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="地址" data-scaytid="34">地址</span>: <span class="scayt-misspell" data-scayt_word="石家庄市广安街世贸广场酒店14楼中心线办公室" data-scaytid="42"><span class="scayt-misspell" data-scayt_word="深圳" data-scaytid="40">石家庄</span>市广安街世贸广场酒店14楼中心线办公室</span><span _fck_bookmark="1" style="display: none">&nbsp;</span></p>
	
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="电话" data-scaytid="30">电话</span>:<span style="color: #c92a26;font-family: arial;font-size:16px;font-weight:bold"> 0311- 64489182</span><span _fck_bookmark="1" style="display: none">&nbsp;</span></p>
	<p class="contact_con">
		<span class="scayt-misspell" data-scayt_word="传真" data-scaytid="43">传真</span>: 86-0311-64489182&nbsp;<span _fck_bookmark="1" style="display: none">&nbsp;</span></p>
	<p>&nbsp;
		</p>
	
	

</div>
        </div>
        
<!--newsright-->
{template "content","con_newsright"}
<!--newsright-->
    </div>
</div>

</div>
</div>
<div class="sy_condi2"></div>

<!--主体结束-->
{template "content","footer"}