{template "content","header"}
<!--main-->

<!--主体开始-->
<div class="sy_content">
<div class="page_tit">{catpos($catid)}</div>
<div class="page_wrap">
<!--侧导航开始-->
<div class="page_subnav">
<ul>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=9">公司简介</a></li>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=18">资源平台</a></li>
                  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=19">合作伙伴</a></li>
               
                  

</ul>
</div>
<!--侧导航结束-->
<div class="page_right">
<div class="page_bread"><a href="{APP_PATH}" alt="">首页</a>-合作伙伴</div>
    

    <div class="page_content">
    
    	<div class="page_leftcontent">
<!---->
<div id="cominfo_con">

<div id="cominfo_tagContent">
<!---->
<div class="cominfo_tagContent selectTag" id="cominfo_tagContent0">
    <div class="cominfo_con">
    <p style="text-indent: 0em; color: #c92a26; font-weight: bold">
	<span class="scayt-misspell" data-scayt_word="坚守承诺，成就未来" data-scaytid="1">坚守承诺，成就未来</span></p>
<p style="text-indent: 0em; font-weight: bold">
	&mdash;&mdash;<span class="scayt-misspell" data-scayt_word="CUSTOMERS" data-scaytid="3">CUSTOMERS</span></p>
<p>&nbsp;
	</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;岁月的积淀汇集无限能量，诚信的服务，坚实的后盾，恪守承诺的精神赢得了客户对我们的信赖和认可。</p>
<p>&nbsp;
	</p>


<p>合作客户	Cooperation customer         列表排名不分先后：</p>   
<p>韩国三星集团</p>

<p>韩国乐天集团</p>

<p>万达集团</p>

<p>香港中新集团</p>

<p>绿城房地产集团有限公司</p>

<p>华润集团</p>

<p>漳州市人民政府</p>

<p>北京政泉置业有限公司</p>

<p>北京国华电力有限责任公司</p>

<p>中国远洋地产</p>

<p>河北天成企业集团</p>

<p>上海同岳租赁有限公司</p>

<p>上海众合投资</p>

<p>成都润泰投资开发有限公司</p>


<p>荣成市和晟置业有限公司</p>


<p>成都市青白江房管局</p>


<p>中房集团</p>


<p>成都红杉投资管理有限公司</p>


<p>雅居乐集团</p>


<p>佳兆业集团</p>


<p>成都汇厦建设投资股份有限公司</p>



<p>成都市青羊区旧城改造办公室</p>
。。。。。。。。
<p>&nbsp;
	</p>

    </div>
</div>
<!---->




</div></div>
<p>
  <script type="text/javascript">
function cominfo_selectTag(showContent,selfObj){
// 操作标签
var tag = document.getElementById("cominfo_tags").getElementsByTagName("li");
var taglength = tag.length;
for(i=0; i<taglength; i++){
tag[i].className = "";
}
selfObj.parentNode.className = "selectTag";
// 操作内容
for(i=0; j=document.getElementById("cominfo_tagContent"+i); i++){
j.style.display = "none";
}
document.getElementById(showContent).style.display = "block";


}
</script>
</p>
<!---->
        </div>
        
  <!--newsright-->
{template "content","con_newsright"}
<!--newsright-->
    </div>
</div>

</div>
</div>
<div class="sy_condi2"></div>
<!--主体结束-->
{template "content","footer"}